<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebCralerService</title>
</head>
<body>
    <ul>
        <li><a href="/folio">Folioのテーマ別銘柄一覧</a></li>
    </ul>
</body>
</html>